@model IQueryable<Yazi>
@{
    ViewData["Title"] = "Yazılar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Yazı Listesi
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <table class="display table table-bordered table-striped" id="example">
                        <thead>
                            <tr>
                                <th>Başlık</th>
                                <th>İçerik</th>
                                <th>Yazar</th>
                                <th>Dil</th>
                                <th>Oluşturulma Tarihi</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="gradeX">
                                    <td>@item.Baslik</td>
                                    <td>@item.Icerik</td>
                                    <td>@item.Yazar</td>
                                    <td>@item.Dil</td>
                                    <td>@item.OlusturulmaTarihi</td>
                                    
                                    <td>
                                        <a asp-controller="Article" asp-action="Update" asp-route-id="@item.Id" class="btn btn-primary btn-xs"><i class="icon-pencil"></i></a>
                                        <a asp-controller="Article" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs"><i class="icon-remove"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Başlık</th>
                                <th>İçerik</th>
                                <th>Yazar</th>
                                <th>Dil</th>
                                <th>Oluşturulma Tarihi</th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
